*{
    font-family: 'Comic Neue', cursive;
    font-size: 10px;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 3.5rem;
    text-align: center;

    padding-top: 20px;
    padding-bottom: 30px;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.card{
    width: 32%;
    margin-bottom: 30px;
    position: relative;
    border: 1px solid black;
}

.card__name{
    border: 1px solid black;
    font-size: 2.5rem;
    padding: 5px;
    text-align: center;
    width: 160px;
    position: absolute;
    top: 0;
    right: 0;
}

.card__text{
    font-size: 2.0rem;
    padding: 70px 15px 15px;
}

.card:nth-child(1){
    background-color: cadetblue;
}

.card:nth-child(2){
    background-color: yellow;
}

.card:nth-child(3){
    background-color: limegreen;
}

.card:nth-child(1) .card__name{
    background-color: yellow;
}

.card:nth-child(2) .card__name{
    background-color: limegreen;
}

.card:nth-child(3) .card__name{
    background-color: cadetblue;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .wrapper{
        flex-wrap: wrap;
    }
    
    .card:nth-child(1), .card:nth-child(2){
        width: 49%;
    }

    .card:nth-child(3){
        width: 100%;
    }
}

@media  screen and (max-width: 768px) {
    .wrapper{
        flex-wrap: wrap;
    }

    .card:nth-child(1), .card:nth-child(2), .card:nth-child(3)    {
        width: 100%;
    }
    
}